#sidebar {
  width: 200px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  overflow-x: hidden;
}

#main-content {
  margin-left: 200px;
  padding: 20px;
}

@media (max-width: 768px) {
  #sidebar {
    width: 80px;
  }

  #main-content {
    margin-left: 80px;
  }

  #sidebar .nav-link span {
    display: none;
  }

  #sidebar .dropdown-toggle strong {
    display: none;
  }
}
@media (min-width: 768px) {
  #sidebar {
    width: 200px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    overflow-x: hidden;
  }
  
  #main-content {
    margin-left: 200px;
    padding: 20px;
  } 
}
